@import "https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap";
h1 {
  font-size: 40px; }
  @media (max-width: 756px) {
    h1 {
      font-size: 35px; } }

h2 {
  font-size: 35px; }
  @media (max-width: 756px) {
    h2 {
      font-size: 32px; } }

h3 {
  font-size: 30px; }

h4 {
  font-size: 25px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 17px; }

p {
  font-size: 15px; }

.font-weight-medium {
  font-weight: 500; }

.font-weight-semibold {
  font-weight: 600; }

body {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0px;
  color: #000000; }
  body.body-top-padding {
    padding-top: 167px; }
  body a:hover {
    text-decoration: none; }
  body.sidebar-open .fixed-top {
    background-color: transparent; }
    body.sidebar-open .fixed-top .navbar-brand-wrapper img {
      display: none; }
  body.sidebar-open::before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8); }

.header-banner {
  background-image: url("../images/Main_visual/banner3_edited.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px; }
  @media (max-width: 575px) {
    .header-banner {
      /*height: 80vh;*/
      height: 650px; } }

.margin-section {
  margin-bottom: 65px; }
  @media (max-width: 991px) {
    .margin-section {
      margin-bottom: 40px; } }

.container-fluid {
  padding: 0px 101px;
  max-width: 1660px; }

@media (max-width: 575px) {
  .container {
    padding: 0px 30px; } }

.container-customs {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0px 20px; }

@media (max-width: 1200px) {
  .container-customs {
    max-width: 1140px; }

  .container-fluid {
    max-width: 1140px; } }
@media (max-width: 991px) {
  .container-customs {
    max-width: 767px; }

  .container-fluid {
    max-width: 767px; } }
@media (max-width: 767px) {
  .container-customs {
    max-width: 575px; }

  .container-fluid {
    max-width: 720px; } }
@media (max-width: 576px) {
  .container-customs {
    max-width: 375px;
    padding: 0px 20px; }

  .container-fluid {
    max-width: 375px;
    padding: 0px 30px; } }
#header img {
  width: 282px; }
  @media (max-width: 575px) {
    #header img {
      width: 220px; } }

.banner {
  position: relative;
  height: calc(100% - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; }

.content-wrapper {
  padding: 25px 0px; }
  @media (max-width: 768px) {
    .content-wrapper {
      padding: 15px 0px; } }

.terminals {
  background-image: url("../images/POS_system/back_ground_terminal.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  padding: 85px 0px; }
  @media (max-width: 991px) {
    .terminals {
      padding: 25px 25px; } }
  .terminals .mango-service .box-section {
    margin: 0 auto;
    padding-left: 50px; }
    @media (max-width: 1660px) {
      .terminals .mango-service .box-section {
        padding-left: 0px; } }
  .terminals .mango-service p {
    color: #363636;
    font-size: 20px; }
    .terminals .mango-service p.text-italic {
      font-style: italic; }
  .terminals .mango-service button {
    border-radius: 7px; }
  @media (max-width: 991px) {
    .terminals .mango-service .flex-item:nth-of-type(1) {
      order: 2; }
    .terminals .mango-service .flex-item:nth-of-type(2) {
      order: 1; }
    .terminals .mango-service .img-digital {
      text-align: center; } }

.form-persion {
  background-image: url("../images/Submit/submit_bg_grey_68.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%; }
  .form-persion .wrapper {
    margin-top: 80px;
    margin-bottom: 80px; }
    @media (max-width: 991px) {
      .form-persion .wrapper {
        margin: 80px auto;
        max-width: 575px; } }
    @media (max-width: 575px) {
      .form-persion .wrapper {
        margin: 40px auto; } }
  .form-persion .form-submit {
    padding: 15px 35px 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 30px #D5D5D5;
    border-radius: 10px; }
    @media (max-width: 575px) {
      .form-persion .form-submit {
        padding: 15px 20px 45px; } }
    .form-persion .form-submit .form-submit-heading {
      font-size: 26px;
      font-weight: 700;
      color: #404040;
      text-shadow: 0px 11px 14px #00B3C91C;
      margin: 40px 0px; }
      @media (max-width: 575px) {
        .form-persion .form-submit .form-submit-heading {
          font-size: 22px;
          margin: 25px 0px; } }
    .form-persion .form-submit .checkbox {
      font-weight: normal; }
    .form-persion .form-submit .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
      margin: 12px 0px;
      border: none;
      background: #F7F7F7; }
      .form-persion .form-submit .form-control:focus {
        z-index: 2; }
    .form-persion .form-submit input::placeholder {
      color: #818181;
      font-size: 16px; }
    .form-persion .form-submit textarea::placeholder {
      color: #818181;
      font-size: 16px; }

.promotion h2 {
  color: #363636;
  font-size: 40px;
  font-weight: 600px; }
  @media (max-width: 991px) {
    .promotion h2 {
      font-size: 30px; } }
.promotion .box-date {
  border-radius: 5px;
  background: #C21807 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  width: fit-content;
  padding: 2px 10px;
  letter-spacing: 9px;
  font-weight: 600;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .promotion .box-date {
      font-size: 20px; } }
  @media (max-width: 475px) {
    .promotion .box-date {
      font-size: 14px;
      letter-spacing: 5.4px; } }
.promotion .card {
  border: none; }
.promotion .color-cards .card-contents {
  position: relative; }
.promotion .color-cards .card-details p {
  color: #363636;
  font-weight: 500; }
.promotion .color-cards .card-details h6 {
  font-weight: 600;
  font-size: 22px; }
.promotion .color-cards .card-details .title-card {
  margin: 0px;
  position: relative;
  font-size: 22px; }
  @media (max-width: 767px) {
    .promotion .color-cards .card-details .title-card {
      margin-bottom: 10px; } }
  @media (max-width: 1080px) {
    .promotion .color-cards .card-details .title-card {
      font-size: 15px; } }
  @media (max-width: 767px) {
    .promotion .color-cards .card-details .title-card {
      font-size: 22px; } }
  @media (max-width: 575px) {
    .promotion .color-cards .card-details .title-card {
      font-size: 18px; } }
  .promotion .color-cards .card-details .title-card::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 6px;
    background: transparent linear-gradient(90deg, #54BCD3 0%, #E25A7F 100%);
    left: 50%;
    bottom: -10px;
    transition: all 0.4s ease-in-out; }
.promotion .color-cards:hover .card-details {
  color: rgba(0, 51, 204, 0.8); }
  .promotion .color-cards:hover .card-details p {
    color: rgba(0, 51, 204, 0.8); }
  .promotion .color-cards:hover .card-details .title-card::after {
    width: 100%;
    left: 0; }
.promotion .color-cards:hover .card-desc-box .sheen::after {
  animation: sheen 1.5s forwards; }
@keyframes sheen {
  100% {
    transform: rotateZ(150deg) translate(1em, -9em); } }
.promotion .color-cards .btn {
  padding: 6px 14px;
  font-size: 12px; }
.promotion .card-image {
  height: 100%; }
  .promotion .card-image .promotion-card-img {
    width: 100%; }
.promotion .card-desc-box {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 4px;
  /*        sheen effect      */
  /*This is the base aniamtion*/ }
  .promotion .card-desc-box h6 {
    padding-top: 2.5px !important;
    font-weight: 600; }
  .promotion .card-desc-box * {
    margin: 0;
    padding: 0;
    text-align: center; }
  .promotion .card-desc-box .shine {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    border: 0;
    text-transform: uppercase;
    background: transparent linear-gradient(90deg, #54BCD3 0%, #E25A7F 100%);
    width: 85px;
    height: 27px;
    padding-top: 1.5px; }
  .promotion .card-desc-box .sheen:after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em); }

.customer-feedback .customer-cards {
  background: #f3f7fb;
  font-size: 18px;
  margin: 0px 12px;
  transition: all 0.7s ease-in-out; }
  .customer-feedback .customer-cards .img-customer {
    border-radius: 50%;
    transition: all 0.7s ease-in-out; }
  .customer-feedback .customer-cards:hover {
    background: #e4e7ea;
    transform: scale(1.02); }
    .customer-feedback .customer-cards:hover .img-customer {
      transform: scale(1.05); }
  .customer-feedback .customer-cards .content-divider {
    width: 73px;
    height: 3px; }

.contact-us .contact-us-bgimage {
  background-image: url("../images/gdpr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 83px 0px 68px 0px; }

.contact-details .mdi {
  font-size: 14px;
  color: #6e6e6e;
  border-radius: 50px;
  border: 1px solid rgba(151, 151, 151, 0.24);
  padding: 3px 6px;
  margin-right: 10px;
  transition: all 0.6s ease-in-out; }
  .contact-details .mdi:hover {
    background: #a6a6a6;
    color: white; }
.contact-details a {
  color: #6e6e6e;
  transition: all 0.6s ease-in-out; }
  .contact-details a:hover {
    color: #ff0000; }

footer {
  background: #262626; }
  footer .footer {
    padding: 40px 0px; }
    @media (max-width: 991px) {
      footer .footer {
        padding: 40px 0px 10px 0px; } }
  footer ul {
    font-size: 20px;
    margin-bottom: 0px;
    color: #ffff; }
    footer ul li {
      color: #ffff;
      font-size: 14px;
      text-decoration: none;
      list-style: none; }
  footer span {
    color: #d3d3d3;
    font-size: 14px;
    display: block; }
  footer .logo-footer img {
    width: 281px; }
    @media (max-width: 575px) {
      footer .logo-footer img {
        width: 220px; } }
  @media (max-width: 991px) {
    footer .social-icon {
      margin-top: 10px; } }
  @media (max-width: 575px) {
    footer .social-icon img {
      width: 30px; } }
  footer ul {
    padding: 0px; }
    @media (max-width: 991px) {
      footer ul.addr {
        padding-top: 5px; } }
    @media (max-width: 767px) {
      footer ul.addr {
        padding-top: 15px; } }
    @media (max-width: 767px) {
      footer ul li {
        padding-top: 5px; } }
  footer .coppied-right {
    color: #D3D3D3;
    border-top: 1px solid #707070;
    opacity: 0.45;
    padding: 5px 0px; }
    footer .coppied-right p {
      margin-bottom: 0px; }
    @media (max-width: 767px) {
      footer .coppied-right {
        padding: 5px 20px;
        text-align: left; } }

.section-subtitle,
.customer-designation {
  font-weight: normal; }

.header-small .navbar {
  background: #ffff;
  padding: 7px 0px 7px 0px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2); }
  .header-small .navbar.fixed-top {
    top: -50px;
    margin-top: 50px;
    transition: margin-top 1s ease; }
  @media (min-width: 991px) {
    .header-small .navbar .btn {
      padding: 5px 10px;
      margin-left: 20px; } }

.owl-nav {
  font-size: 30px;
  text-align: center;
  color: #6e6e6e; }

.owl-theme .owl-dots .owl-dot {
  outline: none; }
  .owl-theme .owl-dots .owl-dot span {
    display: inline-block;
    width: 0.9375rem;
    height: 0.9375rem;
    box-sizing: border-box;
    background-color: #ff0000;
    border: 3px solid transparent;
    border-radius: 50%;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    transition: all 0.3s ease-in-out;
    opacity: 0.7; }
  .owl-theme .owl-dots .owl-dot.active span {
    background-color: transparent;
    border-color: #ff0000;
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }

.owl-carousel .owl-item {
  padding: 16px 0px; }
  .owl-carousel .owl-item img {
    width: auto;
    margin: 0 auto; }

.owl-item:nth-child(odd) .content-divider {
  background-color: black; }
.owl-item:nth-child(even) .content-divider {
  background-color: red; }

.logo-mango {
  width: 282px; }
  @media (max-width: 767px) {
    .logo-mango {
      width: 220px; } }
  @media (max-width: 575px) {
    .logo-mango {
      width: 180px; } }

.title-header {
  font-size: 50px;
  color: #2B2B2B;
  font-weight: 700;
  text-shadow: 0px 11px 14px #44A1D9AD; }
  @media (max-width: 1440px) {
    .title-header {
      font-size: 40px; } }
  @media (max-width: 1240px) {
    .title-header {
      font-size: 38px; } }
  @media (max-width: 991px) {
    .title-header {
      font-size: 35px; } }
  @media (max-width: 767px) {
    .title-header {
      font-size: 30px; } }
  @media (max-width: 575px) {
    .title-header {
      font-size: 20px; } }

.box-label-1 {
  display: flex;
  justify-content: space-around;
  width: 475px; }
  @media (max-width: 475px) {
    .box-label-1 {
      width: 375px; } }

.box-label-top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px; }
  .box-label-top .box--checkin {
    margin: -30px 0px -20px 0px; }
  .box-label-top .box--mobile-app {
    margin: 0px 0px -20px 0px; }
  .box-label-top .box--online {
    margin: -50px 0px -20px 0px; }

.box-label-bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px; }
  .box-label-bottom .box .content p {
    color: #00B3C9; }
  .box-label-bottom .box--payment {
    margin: 40px 0px -20px 0px; }
  .box-label-bottom .box--marketing {
    margin: 70px 0px -20px 0px; }
  .box-label-bottom .box--gift-card {
    margin: 20px 0px -20px 0px; }

.box {
  width: 180px;
  height: 180px;
  background: #FFFFFF;
  box-shadow: 0px 14px 28px #8086C3;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1040px) {
    .box {
      width: 165px;
      height: 165px; } }
  @media (max-width: 991px) {
    .box {
      width: 150px;
      height: 150px; } }
  @media (max-width: 767px) {
    .box {
      width: 120px;
      height: 120px; } }
  @media (max-width: 575px) {
    .box {
      width: 90px;
      height: 90px; } }
  .box:nth-child(4) .content p {
    color: #00B3C9; }
  .box:nth-child(5) .content p {
    color: #00B3C9; }
  .box:nth-child(6) .content p {
    color: #00B3C9; }
  .box--checkin {
    position: absolute;
    top: -350px;
    left: 0px; }
    @media (max-width: 1240px) {
      .box--checkin {
        top: -350px;
        left: 170px; } }
    @media (max-width: 991px) {
      .box--checkin {
        top: -350px;
        left: 0px; } }
    @media (max-width: 767px) {
      .box--checkin {
        position: unset; } }
  .box--mobile-app {
    position: absolute;
    top: -120px;
    left: -220px; }
    @media (max-width: 1440px) {
      .box--mobile-app {
        top: -120px;
        left: -100px; } }
    @media (max-width: 1240px) {
      .box--mobile-app {
        top: -100px;
        left: -40px; } }
    @media (max-width: 991px) {
      .box--mobile-app {
        top: -290px;
        left: 300px; } }
    @media (max-width: 767px) {
      .box--mobile-app {
        position: unset; } }
  .box--online {
    position: absolute;
    top: 150px;
    left: 50px; }
    @media (max-width: 1240px) {
      .box--online {
        top: 150px;
        left: 200px; } }
    @media (max-width: 991px) {
      .box--online {
        top: -370px;
        right: 0px;
        left: unset; } }
    @media (max-width: 767px) {
      .box--online {
        position: unset; } }
  .box--payment {
    position: absolute;
    top: -340px;
    right: 50px; }
    @media (max-width: 1240px) {
      .box--payment {
        top: -370px;
        right: 200px; } }
    @media (max-width: 991px) {
      .box--payment {
        top: 80px;
        left: 20px; } }
    @media (max-width: 767px) {
      .box--payment {
        position: unset; } }
  .box--marketing {
    position: absolute;
    top: -140px;
    right: -220px; }
    @media (max-width: 1440px) {
      .box--marketing {
        top: -120px;
        right: -100px; } }
    @media (max-width: 1240px) {
      .box--marketing {
        top: -120px;
        right: -40px; } }
    @media (max-width: 991px) {
      .box--marketing {
        top: 120px;
        left: 300px; } }
    @media (max-width: 767px) {
      .box--marketing {
        position: unset; } }
  .box--gift-card {
    position: absolute;
    top: 140px;
    right: 50px; }
    @media (max-width: 1240px) {
      .box--gift-card {
        top: 100px;
        right: 100px; } }
    @media (max-width: 991px) {
      .box--gift-card {
        top: 80px;
        right: 0px; } }
    @media (max-width: 767px) {
      .box--gift-card {
        position: unset; } }
  .box .content img {
    width: 80px; }
    @media (max-width: 991px) {
      .box .content img {
        width: 70px; } }
    @media (max-width: 767px) {
      .box .content img {
        width: 60px; } }
    @media (max-width: 575px) {
      .box .content img {
        width: 50px; } }
  .box .content p {
    margin: 17px 0px 0px 0px;
    text-align: center;
    color: #6F67CB;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px; }
    @media (max-width: 991px) {
      .box .content p {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .box .content p {
        font-size: 18px;
        line-height: 20px !important; } }
    @media (max-width: 575px) {
      .box .content p {
        font-size: 12px;
        line-height: 10px !important;
        margin: 10px 0px 0px 0px; } }

.animation {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .animation .circle {
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    position: absolute;
    background: transparent;
    border: 2px dotted #ffffffb4;
    box-shadow: 0px 0px 15px -2px #ffffff8a;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: circle;
    opacity: 0; }
  .animation .circle2 {
    animation-delay: 1.5s; }
  .animation .circle3 {
    animation-delay: 2.5s; }
@keyframes circle {
  0% {
    -webkit-transform: scale(0.05);
    opacity: .8; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
.gift-fixed {
  position: fixed;
  bottom: 0px;
  right: 0px; }

.coccoc-alo-ph-circle {
  width: 100px;
  height: 100px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: .1;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.coccoc-alo-phone {
  background-color: transparent;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 2000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  -moz-transition: visibility .5s;
  -o-transition: visibility .5s;
  transition: visibility .5s;
  right: 150px;
  top: 30px; }

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
  background-color: rgba(0, 175, 242, 0.5);
  opacity: .75 !important; }

.coccoc-alo-ph-img-circle {
  width: 50px;
  height: 50px;
  top: 45px;
  left: 45px;
  position: absolute;
  background: rgba(30, 30, 30, 0.1) url(../images/gift.svg) no-repeat center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .7;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out; }

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
  background-color: #C21807; }

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
  border-color: #C21807;
  opacity: .5; }

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
  border-color: #6E6E6E;
  opacity: .5; }

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
  background-color: #6e6e6e81;
  opacity: .75 !important; }

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
  background-color: #6E6E6E; }

@-moz-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@-o-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@-moz-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-o-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-moz-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
@-o-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
@keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
.modal-dialog .modal-content h4 {
  font-size: 35px;
  color: #404040;
  font-weight: 700;
  text-align: center;
  line-height: 40px; }
  @media (max-width: 575px) {
    .modal-dialog .modal-content h4 {
      font-size: 25px;
      line-height: 30px; } }
.modal-dialog .modal-body p {
  font-size: 22px;
  text-align: center;
  font-weight: 500; }
  @media (max-width: 575px) {
    .modal-dialog .modal-body p {
      font-size: 18px; } }
.modal-dialog .modal-footer {
  justify-content: center !important;
  padding: 10px 40px 40px 40px !important; }
  .modal-dialog .modal-footer .btn-popup {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 700;
    width: 100%; }

.navbar {
  padding: 49px 0px 63px 0px; }
  .navbar .navbar-toggler {
    line-height: inherit; }
    .navbar .navbar-toggler .mdi-menu {
      font-size: 30px; }
    .navbar .navbar-toggler .mdi-close {
      font-size: 20px; }
  .navbar .gift-toggle {
    display: flex; }
  .navbar .giftform {
    width: 28px;
    height: 28px;
    background: #C21807;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .navbar .giftform img {
      width: 18px !important; }
  .navbar .navbar-menu-wrapper .navbar-nav .btn-contact-us {
    margin-left: 148px;
    white-space: nowrap; }
    @media (max-width: 1040px) {
      .navbar .navbar-menu-wrapper .navbar-nav .btn-contact-us {
        margin-left: 40px; } }
    @media (max-width: 992px) {
      .navbar .navbar-menu-wrapper .navbar-nav .btn-contact-us {
        margin-left: 0px; } }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-link {
    font-size: 18px;
    padding: 0px 17px;
    font-weight: 600;
    color: #111111;
    white-space: nowrap; }
    .navbar .navbar-menu-wrapper .navbar-nav .nav-link:hover {
      color: #ff0000;
      transition: all 0.3s ease; }
    .navbar .navbar-menu-wrapper .navbar-nav .nav-link.active {
      color: #ff0000; }
    .navbar .navbar-menu-wrapper .navbar-nav .nav-link.btn-promotion {
      background: #c21807;
      box-shadow: 0px 10px 20px #c2180736;
      border-radius: 23px;
      color: #ffffff;
      font-size: 18px;
      border: none;
      padding: 7px 17px; }
  .navbar .navbar-collapse-logo {
    display: none; }

.sidebar-open .navbar-toggler-icon {
  color: #111111; }

.navbar-toggler-icon {
  color: #fff; }

.fixed-top .navbar-toggler-icon {
  color: #111111; }

@media (max-width: 992px) {
  .navbar .navbar-menu-wrapper .navbar-nav .nav-link {
    font-size: 16px; }
  .navbar .navbar-menu-wrapper.navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    z-index: 20;
    height: 100vh;
    padding: 50px 0px;
    width: 250px;
    transform: translateX(100%);
    transition: transform 0.25s ease-in-out; }
    .navbar .navbar-menu-wrapper.navbar-collapse.show {
      transform: translateX(0); }
    .navbar .navbar-menu-wrapper.navbar-collapse ul li {
      padding: 10px 10px; }
  .navbar .navbar-collapse-logo {
    display: block; } }
.input-placeholder {
  position: relative; }

.input-placeholder input {
  padding: 10px;
  font-size: 12px; }

.input-placeholder input:valid + .placeholder {
  display: none; }

.placeholder {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  height: 25px;
  font-size: 16px;
  left: 10px;
  margin: auto;
  color: #888a88; }

.placeholder span {
  color: red; }

.grid-margin {
  margin-bottom: 100px; }
  @media (max-width: 992px) {
    .grid-margin {
      margin-bottom: 75px; } }
  @media (max-width: 756px) {
    .grid-margin {
      margin-bottom: 60px; } }

@media (min-width: 992px) {
  .grid-margin-lg-0 {
    margin-bottom: 0px; } }

.stretch-card {
  display: flex;
  align-items: stretch;
  justify-content: stretch; }
  .stretch-card .card {
    width: 100%;
    min-width: 100%; }

.btn {
  font-size: 0.875rem;
  font-family: 'Montserrat', sans-serif;
  padding: 0.625rem 1.25rem;
  outline: none; }
  .btn.btn-rounded {
    border-radius: 50px; }
  .btn.btn-white {
    background: white;
    transition: all 0.5s ease-in-out; }
    .btn.btn-white:hover {
      background: #ff0000;
      color: white; }
  .btn:focus {
    box-shadow: none; }

.btn-primary {
  transition: all 0.5s ease-in-out;
  color: white; }
  .btn-primary:hover {
    background: transparent;
    color: #000637;
    border: 1px solid #000637; }

.btn-secondary {
  transition: all 0.5s ease-in-out;
  color: white; }
  .btn-secondary:hover {
    background: transparent;
    color: #bbbbf2;
    border: 1px solid #bbbbf2; }

.btn-success {
  transition: all 0.5s ease-in-out;
  color: white; }
  .btn-success:hover {
    background: transparent;
    color: #5ed6b3;
    border: 1px solid #5ed6b3; }

.btn-info {
  transition: all 0.5s ease-in-out;
  color: white; }
  .btn-info:hover {
    background: transparent;
    color: #1998ff;
    border: 1px solid #1998ff; }

.btn-warning {
  transition: all 0.5s ease-in-out;
  color: white; }
  .btn-warning:hover {
    background: transparent;
    color: #ffad00;
    border: 1px solid #ffad00; }

.btn-danger {
  transition: all 0.5s ease-in-out;
  color: white; }
  .btn-danger:hover {
    background: transparent;
    color: #ff0000;
    border: 1px solid #ff0000; }

.btn-light {
  transition: all 0.5s ease-in-out;
  color: white; }
  .btn-light:hover {
    background: transparent;
    color: #fc7341;
    border: 1px solid #fc7341; }

.btn-dark {
  transition: all 0.5s ease-in-out;
  color: white; }
  .btn-dark:hover {
    background: transparent;
    color: #221e1e;
    border: 1px solid #221e1e; }

.btn-opacity-primary {
  color: #000637;
  background-color: #0012a7;
  border: 2px solid transparent;
  transition: all 0.5s ease-in-out; }
  .btn-opacity-primary:hover {
    color: #000637;
    background-color: white;
    border: 2px solid #000637; }

.btn-opacity-secondary {
  color: #bbbbf2;
  background-color: white;
  border: 2px solid transparent;
  transition: all 0.5s ease-in-out; }
  .btn-opacity-secondary:hover {
    color: #bbbbf2;
    background-color: white;
    border: 2px solid #bbbbf2; }

.btn-opacity-success {
  color: #5ed6b3;
  background-color: #b7eddd;
  border: 2px solid transparent;
  transition: all 0.5s ease-in-out; }
  .btn-opacity-success:hover {
    color: #5ed6b3;
    background-color: white;
    border: 2px solid #5ed6b3; }

.btn-opacity-info {
  color: #1998ff;
  background-color: #89caff;
  border: 2px solid transparent;
  transition: all 0.5s ease-in-out; }
  .btn-opacity-info:hover {
    color: #1998ff;
    background-color: white;
    border: 2px solid #1998ff; }

.btn-opacity-warning {
  color: #ffad00;
  background-color: #ffd170;
  border: 2px solid transparent;
  transition: all 0.5s ease-in-out; }
  .btn-opacity-warning:hover {
    color: #ffad00;
    background-color: white;
    border: 2px solid #ffad00; }

.btn-opacity-danger {
  color: #ff0000;
  background-color: #ff7070;
  border: 2px solid transparent;
  transition: all 0.5s ease-in-out; }
  .btn-opacity-danger:hover {
    color: #ff0000;
    background-color: white;
    border: 2px solid #ff0000; }

.btn-opacity-light {
  color: #fc7341;
  background-color: #fec4af;
  border: 2px solid transparent;
  transition: all 0.5s ease-in-out; }
  .btn-opacity-light:hover {
    color: #fc7341;
    background-color: white;
    border: 2px solid #fc7341; }

.btn-opacity-dark {
  color: #221e1e;
  background-color: #5e5353;
  border: 2px solid transparent;
  transition: all 0.5s ease-in-out; }
  .btn-opacity-dark:hover {
    color: #221e1e;
    background-color: white;
    border: 2px solid #221e1e; }

.btn-outline-primary {
  color: #000637;
  background-color: white;
  border: 2px solid #000637;
  transition: all 0.5s ease-in-out; }
  .btn-outline-primary:hover {
    color: white;
    background-color: #000637; }

.btn-outline-secondary {
  color: #bbbbf2;
  background-color: white;
  border: 2px solid #bbbbf2;
  transition: all 0.5s ease-in-out; }
  .btn-outline-secondary:hover {
    color: white;
    background-color: #bbbbf2; }

.btn-outline-success {
  color: #5ed6b3;
  background-color: white;
  border: 2px solid #5ed6b3;
  transition: all 0.5s ease-in-out; }
  .btn-outline-success:hover {
    color: white;
    background-color: #5ed6b3; }

.btn-outline-info {
  color: #1998ff;
  background-color: white;
  border: 2px solid #1998ff;
  transition: all 0.5s ease-in-out; }
  .btn-outline-info:hover {
    color: white;
    background-color: #1998ff; }

.btn-outline-warning {
  color: #ffad00;
  background-color: white;
  border: 2px solid #ffad00;
  transition: all 0.5s ease-in-out; }
  .btn-outline-warning:hover {
    color: white;
    background-color: #ffad00; }

.btn-outline-danger {
  color: #ff0000;
  background-color: white;
  border: 2px solid #ff0000;
  transition: all 0.5s ease-in-out; }
  .btn-outline-danger:hover {
    color: white;
    background-color: #ff0000; }

.btn-outline-light {
  color: #fc7341;
  background-color: white;
  border: 2px solid #fc7341;
  transition: all 0.5s ease-in-out; }
  .btn-outline-light:hover {
    color: white;
    background-color: #fc7341; }

.btn-outline-dark {
  color: #221e1e;
  background-color: white;
  border: 2px solid #221e1e;
  transition: all 0.5s ease-in-out; }
  .btn-outline-dark:hover {
    color: white;
    background-color: #221e1e; }

.card {
  border: none;
  border-radius: 6px; }
  .card .card-body {
    padding: 43px 36px; }
    .card .card-body .card-title {
      font-size: 18px;
      margin-bottom: 7px; }

.form-control {
  background-color: #f6f7fb;
  border: none;
  font-size: 14px; }
  .form-control:focus {
    background-color: #f6f7fb;
    border: 1px solid #ced4da;
    box-shadow: none;
    border: none; }

.modal-content {
  width: 500px; }
  @media (max-width: 575px) {
    .modal-content {
      width: 300px; } }
  .modal-content .modal-header {
    justify-content: center;
    border: none; }
  .modal-content .modal-body {
    padding: 0px 40px; }
  .modal-content .modal-footer {
    border: none;
    justify-content: flex-start;
    padding: 5px 0px 20px 39px; }

/*# sourceMappingURL=style.css.map */
