<style>
    .experience-now-2 {
        position: absolute;
        left: 50%;
        bottom: 10%;
        z-index: 999;
        transform: translateX(-50%);
    }

    .freetrial-2 {
        position: absolute;
        left: 50%;
        bottom: 5%;
        z-index: 999;
        transform: translateX(-50%);
        color: white;
        font-size: 16px;
    }

    .experience-now-2 a {
        color: white;
        text-decoration: none;
        background-color: #F89938;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 8px 26px;
        border-radius: 20px;
    }
</style>
<div class="logo left-el">
    <img src="/images/logo.png" alt="logo" class="img-fluid">
</div>
<div class="slogan-1 left-el">
    <p class="child-slogan-1 animate__animated animate__fadeInLeft">MANAGEMENT SOFTWARE</p>
    <p class="child-slogan-2 animate__animated animate__fadeInLeft">PRIVATE FOR SPA/SALON</p>
</div>

<div class="path-line left-el animate__animated animate__fadeInRight">
</div>
<div class="slogan-2 left-el">
    <p class="child-slogan animate__animated animate__zoomIn">
        Easy management,<br>
        bring in gold sales
    </p>

</div>
<div class="image-mangopos">
    <img class="image-mangopos image-pos-2 animate__animated animate__zoomIn" alt="mangopos" src="~/images/mangopos.png">

</div>

<div class="experience-now-2  animate__animated animate__zoomIn">
    <a href="/subscribe">EXPERIENCE NOW</a>
</div>
<div class="freetrial-2  animate__animated animate__zoomIn">
    Free 30 day full featured trial
</div>