
@{
    ViewBag.Title = "Welcome to Mango Pos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css
{
    <link href="~/Content/animate/animate.min.css" rel="stylesheet" />
    <style>
        *, .row, div, p {
            margin: 0;
            padding: 0;
        }

        body,
        html {
            width: 100%;
            height: 100vh;
            position: relative;
            background-color: #03bed5;
            font-family: "Montserrat";
            font-weight: 400;
        }

        .master-wrapper-page {
            /*     background-image: url('/images/background.png');*/
            background-size: cover;
            background-attachment: fixed;
            height: 100%;
            background-position: center;
        }

        .logo {
            padding-top: 6%;
        }

        .left-el {
            margin-left: 9%;
        }

        .slogan-1 {
            padding: 53px 0px;
        }

            .slogan-1 .child-slogan-1 {
                font-size: 40px;
                font-weight: bold;
                color: white;
                padding-bottom: 10px;
            }

            .slogan-1 .child-slogan-2 {
                font-size: 30px;
                font-weight: 500;
                color: white;
            }

        .path-line {
            width: 185px;
            height: 2px;
            background-color: #73d9e6;
        }

        .image-mangopos img {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;
            z-index: 2;
        }

        .slogan-2 .child-slogan {
            color: white;
            font-size: 22px;
            line-height: 29px;
            letter-spacing: 1px;
            padding-top: 22px;
            font-weight: 400;
        }

        .experience-now {
            padding-top: 12%;
            position:relative;
            z-index:999;
        }

            .experience-now a {
                color: white;
                text-decoration: none;
                background-color: #F89938;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 8px 26px;
                border-radius: 20px;
            }
                .experience-now a:hover, .experience-now-2 a:hover{
                    opacity: 0.8;
                }
        .circle-right-bottom img {
            position: absolute;
            bottom: 0%;
            right: 0;
            max-width: 30%;
            z-index: 1;
        }

        .circle-right-1 {
            position: absolute;
            width: 150px;
            height: 150px;
            bottom: 17%;
            right: 48%;
            z-index: 1;
            border-radius: 50%;
            background: #ffffff85;
        }

        .circle-right-2 {
            position: absolute;
            width: 300px;
            height: 300px;
            bottom: 39%;
            right: 37%;
            z-index: 1;
            border-radius: 50%;
            background: #ffffff85;
        }

        .free-trial-text {
            position: absolute;
            bottom: 4%;
            right: 8%;
            z-index: 4;
            color: #41B9CC;
            font-size:17px;
        }

        .button-slideshow {
            top: 40px;
            right: 3%;
            z-index: 5;
        }

            .button-slideshow ul {
                display: flex;
                list-style: none;
            }

                .button-slideshow ul li {
                    width: 10px;
                    height: 10px;
                    background: white;
                    margin: 5px;
                    border-radius: 50%;
                    cursor: pointer;
                }

                    .button-slideshow ul li.active {
                        background: #F89938;
                        cursor: unset;
                    }

        @@media all and (max-width: 1201px) {
            .image-mangopos img {
                bottom: 0%;
                height: 69%;
            }

            .free-trial-text {
                right: 1%;
            }

            .circle-right-bottom::before {
                width: 400px;
                height: 400px;
            }

            .circle-right-1 {
                width: 100px;
                height: 100px;
            }

            .circle-right-2 {
                width: 200px;
                height: 200px;
                top: 39%;
                right: 27%;
            }

            .slogan-1 .child-slogan-1 {
                font-size: 30px;
            }

            .slogan-1 .child-slogan-2 {
                font-size: 23px;
            }

            .slogan-2 .child-slogan {
                font-size: 18px;
            }

            .experience-now a {
                font-size: 16px;
            }
        }

        @@media all and (max-width: 769px) {
            .experience-now-2 {
                bottom: 40% !important;
                left: 26% !important;
            }

            .image-mangopos img {
                bottom: 0%;
                width: 80%;
                height: auto;
            }
        }

        @@media all and (max-width: 481px) {

            .logo img {
                width: 35%;
            }

            .button-slideshow {
                top: 4%;
            }

                .button-slideshow ul li {
                    width: 6px;
                    height: 6px;
                }

            .slogan-1 .child-slogan-1 {
                font-size: 20px;
            }

            .slogan-1 .child-slogan-2 {
                font-size: 14px;
            }

            .circle-right-2 {
                width: 100px;
                height: 100px;
                bottom: 15%;
                right: 46%;
                top: unset;
            }

            .image-mangopos img {
                bottom: 0%;
                width: 100%;
                height: auto;
            }

            .circle-right-1 {
                width: 50px;
                height: 50px;
                top: unset;
                bottom: 5%;
                right: 64%;
            }

            .circle-right-bottom img {
                max-width: 60%;
            }

            .free-trial-text {
                font-size: 11px;
            }

            .experience-now-2 {
                bottom: 40% !important;
                left: 32% !important;
            }

                .experience-now-2 a {
                    font-size: 13px !important;
                }

            .freetrial-2 {
                font-size: 12px !important;
                bottom: 2% !important;
            }
        }

        /* ipad  */
        @@media only screen and (min-device-width : 768px) and (max-device-width : 1367px) and (orientation:landscape) {
            .image-mangopos img {
                height: 60%;
                bottom: 5%;
            }

            .circle-right-2 {
                width: 200px;
                height: 200px;
                bottom: 35%;
                right: 34%;
            }

            .circle-right-1 {
                width: 100px;
                height: 100px;
                bottom: 17%;
                right: 45%;
            }

            .experience-now-2 {
                bottom: 22%;
            }

            .image-pos-2 img {
                bottom: 22%;
            }
        }

        @@media only screen and (min-device-width : 768px) and (max-device-width : 1367px) and (orientation:portrait) {
            /* iPad portrait style here */
            .circle-right-bottom img {
                bottom: 0%;
            }

            .freetrial-2 {
                left: 50%;
                bottom: 19%;
            }
        }

        .child-slogan-1 {
            --animate-duration: 0.5s;
        }

        .child-slogan-2 {
            --animate-duration: 1.5s;
        }

        .path-line {
            --animate-duration: 2.5s;
        }

        .child-slogan {
            --animate-duration: 3.5s;
        }

        .experience-now {
            --animate-duration: 2s;
        }
    </style>
}
<div class="button-slideshow position-absolute">
    <ul>
        <li onclick="changePage($(this),1)" class="change-slide page1 active"></li>
        <li onclick="changePage($(this),2)" class="change-slide page2 "></li>
    </ul>
</div>
<div class="master-wrapper-page">
    @Html.Partial("_PageOne")
</div>

@section scripts{
    <script>
        var i = 1;
        setInterval(function () {
            debugger;
            $(".change-slide").removeClass('active');

            if (i == 1) {
                i = 2;
                $(".page" + i).addClass('active')
                RenderSlide1();

            }
            else {
                i = 1;
                $(".page" + i).addClass('active')
                RenderSlide2();
            }

        }, 1000000);

        function RenderSlide2() {


            $(".child-slogan-1").addClass('animate__fadeOutLeft');
            $(".child-slogan-2").addClass('animate__fadeOutLeft');
            $(".path-line").addClass('animate__fadeOutLeft');
            $(".child-slogan").addClass('animate__zoomOut');
            $(".experience-now").addClass('animate__fadeOutLeft');
            $(".image-mangopos").addClass('animate__zoomOut');
            $(".circle-right-1").addClass('animate__zoomOut');
            $(".circle-right-2").addClass('animate__zoomOut');
            $(".free-trial-text").addClass('animate__zoomOut');
            $(".free-trial-text").addClass('animate__zoomOut');
            $(".circle-right-bottom-img").addClass('animate__zoomOut');
            setTimeout(
                function () {
                    $.ajax({
                        url: "/Home/RenderPageTwo",
                        context: document.body
                    }).done(function (data) {
                        $('.master-wrapper-page').html(data);
                    });

                }, 1000);

        }


        function RenderSlide1() {


            $(".child-slogan-1").addClass('animate__fadeOutLeft');
            $(".child-slogan-2").addClass('animate__fadeOutLeft');
            $(".path-line").addClass('animate__fadeOutLeft');
            $(".child-slogan").addClass('animate__zoomOut');
            $(".experience-now").addClass('animate__fadeOutLeft');
            $(".image-mangopos").addClass('animate__zoomOut');
            $(".circle-right-1").addClass('animate__zoomOut');
            $(".circle-right-2").addClass('animate__zoomOut');

            $(".freetrial-2").addClass('animate__zoomOut');
            $(".experience-now-2").addClass('animate__zoomOut');
            setTimeout(
                function () {
                    $.ajax({
                        url: "Home/RenderPageOne",
                        context: document.body
                    }).done(function (data) {
                        $('.master-wrapper-page').html(data);
                    });

                }, 1000);

        }

        function changePage(obj, page) {
            if ($(".page" + page).hasClass("active")) {
                return;
            }
            $(".change-slide").removeClass('active');
            $(".page" + page).addClass('active')
            if (page == 1) {
                RenderSlide1();
            }
            else {
                RenderSlide2();
            }
        }
    </script>
}