@model EnrichcousBackOffice.Models.P_Member
@{
    Layout = "~/Areas/Page/Views/Shared/_EmployeeLayout .cshtml";
    ViewBag.Title = "Thanks | IMS System";
   
}



<div class="page-body">
    <div id="progress-title" class="">
        <h2>CONFIRMATION</h2>
    </div>
    <div class="contianer">
        <div class="row" id="header-progress">
            <div class="col-md-6 col-sm-6 col-xs-2">
                <a href="/" class="btn btn-sm btn-default" data-toggle="tooltip" title="" data-original-title="Go back">
                    <i class="fa fa-arrow-left"></i> Back to IMS
                </a>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-10">
                <div class="ticket-progress">
                    <ul>
                        <li class="">
                            <a>Information</a>
                        </li>
                        <li class="active-step">
                            <a> Completed</a>
                        </li>

                    </ul>
                </div>

            </div>

        </div>
    </div>

    <section class="box-centent">
        <div class="complete-wrapper">
            <span>
                Update infomation success
                <br />
                Thank you for your cooperation !
            </span>
        </div>
        <div class="text-center">
            <a href="/" class="btn btn-next btn-custom"><i class="fa fa-angle-double-left"></i> Back To IMS</a>
        </div>
    </section>

</div>


