@model EnrichcousBackOffice.Models.CustomizeModel.HierarchyEmployeesViewModel
@{
    ViewBag.Title = "Teams";
}

<div class="team-content">
    <div class="head-content">
        <div class="head-content_title">
            Teams for Simply
        </div>
    </div>
    <div class="body-content">
        <div class="widgets-containers">

            <!---------------------->
            <div class="widgets-cards">
                <div class="widgets-card_header">
                    Teams
                </div>
                <div class="widgets-card_content">
                    <div class="h1">0</div>
                    <div class="card-content">/0</div>
                </div>
            </div>
            <!---------------------->
            <div class="widgets-cards">
                <div class="widgets-card_header">
                    Members worked
                </div>
                <div class="widgets-card_content">
                    <div class="h1">0</div>
                    <div class="card-content">/0</div>
                </div>
            </div>
            <!---------------------->
            <div class="widgets-cards">
                <div class="widgets-card_header">
                    Projects worked
                </div>
                <div class="widgets-card_content">
                    <div class="h1">0</div>
                    <div class="card-content">/0</div>
                </div>
            </div>
            <!---------------------->
        </div>

        <div class="masonry">
            <div class="ng-star-inserted">
                <div class="masonry-header">
                    <div class="masonry-header_title">
                        <div _ngcontent-ng-c38732860="">
                            <div _ngcontent-ng-c38732860="" class="d-flex align-items-center">
                                <div _ngcontent-ng-c38732860="" class="h1">0</div>
                                <div _ngcontent-ng-c38732860="">/4</div>
                            </div>
                            <span _ngcontent-ng-c38732860="">Employees</span>
                        </div>
                    </div>
                    <div class="masonry-header_action">
                        <!----------------------------------->
                        <gauzy-team-member _ngcontent-ng-c38732860="" isclassic="true" class="mt-2 ng-star-inserted" _nghost-ng-c2532790073="">
                            <nb-card _ngcontent-ng-c2532790073="" _nghost-ng-c3430391293="">
                                <nb-card-body _ngcontent-ng-c2532790073="">
                                    <div _ngcontent-ng-c2532790073="" class="w-100 display-grid card-tech">
                                        <div _ngcontent-ng-c2532790073="" class="col-5 ">
                                            <div _ngcontent-ng-c2532790073="" class="user-container">
                                                <div _ngcontent-ng-c2532790073="" class="col-3">
                                                    <div _ngcontent-ng-c2532790073="" class="dot-container">
                                                        <div _ngcontent-ng-c2532790073="" class="dot offline"></div>
                                                    </div>
                                                </div>
                                                <div _ngcontent-ng-c2532790073="" class="col-9">
                                                    <ngx-avatar _ngcontent-ng-c2532790073="" _nghost-ng-c3474110455="" class="avatar-dashboard">
                                                        <div _ngcontent-ng-c3474110455="" class="avatar-wrapper">
                                                            <div _ngcontent-ng-c3474110455="" class="inner-wrapper">
                                                                <div _ngcontent-ng-c3474110455="" class="image-outer-wrapper ng-star-inserted">
                                                                    <div _ngcontent-ng-c3474110455="" class="image-container md">
                                                                        <img _ngcontent-ng-c3474110455="" type="user" class="rounded-circle" src="/Upload/Img/Female.png"><span _ngcontent-ng-c3474110455="" class="status-indicator offline ng-star-inserted"></span>
                                                                    </div>
                                                                </div>
                                                                <div _ngcontent-ng-c3474110455="" class="names-wrapper">
                                                                    <a _ngcontent-ng-c3474110455="" class="link-text ng-star-inserted" title="Ruslan K.">Ruslan K.</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ngx-avatar>
                                                </div>
                                            </div>
                                        </div>
                                        <div _ngcontent-ng-c2532790073="" class="col-7 ng-star-inserted">
                                            <div _ngcontent-ng-c2532790073="" class="align-items-center">
                                                <div _ngcontent-ng-c2532790073="" class="col-7">
                                                    <nb-progress-bar _ngcontent-ng-c2532790073="" size="tiny" class="mb-1 size-tiny status-danger" _nghost-ng-c2926579063="">
                                                        <div _ngcontent-ng-c2926579063="" class="progress-container">
                                                            <div _ngcontent-ng-c2926579063="" class="progress-value" style="width: 0%;">
                                                            </div>
                                                        </div>
                                                    </nb-progress-bar>
                                                </div>
                                                <div _ngcontent-ng-c2532790073="" class="col-4"> Not Worked </div>
                                            </div>
                                        </div>
                                    </div>
                                </nb-card-body>
                            </nb-card>
                        </gauzy-team-member>
                        <!----------------------------------->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section style
{
    <link href="~/Content/Anew/Teams.css" rel="stylesheet" />
}

@section script
{

}
