<div id="root" style="margin-top:0;">
    <div>
        <div>
            <div class="ui vertically divided grid homeNewVersionContainer">
                <div class="two column row homeNewVersionRow">
                    <div class="column" style="width:50%; display: flex; background-color: #00b7ce;">
                        <img src="~/Areas/Page/Content/img/mangoforsalon.png" class="ui image" style="width: 500px; margin: auto;">
                    </div>
                    <div class="column homeNewVersionPhoneContainer">
                        <div class="resfouronefour" style="">
                            <div>
                                <h1 style="margin-top:20px;font-size: 50px; font-weight: lighter;text-transform: uppercase;">@ViewBag.target Password</h1>
                            </div>
                            <div class="homeNewVersionSignIn homeNewVersionSignInV2" style="margin-top: 5%;padding: 20px;">
                                <div class="">
                                    <h2 style="color:#00b7ce; font-size:21px; font-weight:bold;margin-bottom: 50px;" class="main-title">Welcome to Simply Pos</h2>
                                    <div class="pass-alert-warning"></div>
                                    @if (ViewBag.expired == true)
                                    {
                                        <h3 style="font-weight:lighter; margin-bottom:50px; font-size:1.17em; color:darkred">@ViewBag.note</h3>
                                    }
                                    else if (ViewBag.LoginId != null)
                                    {
                                        <div class="request_form">
                                            <label class="message-info">
                                                Please input your new password!
                                            </label>
                                            <div class="login-content">
                                                <div class="login__row">
                                                    <input id="Login" class="login__input name" autocomplete="off" placeholder="EMAIL ADDRESS*" value="@ViewBag.LoginId" readonly>
                                                </div>
                                                @*<div class="login__row">
                        <input type="password" id="old_password" class="login__input name" autocomplete="nope" placeholder="OLD PASSWORD*" value="">
                    </div>*@
                                                <div class="login__row">
                                                    <input type="password" id="new_password" class="login__input name" autocomplete="off" placeholder="NEW PASSWORD*" value="">
                                                </div>
                                                <div class="login__row">
                                                    <input type="password" id="confirm_password" class="login__input name" autocomplete="off" placeholder="CONFIRM NEW PASSWORD*" value="">
                                                </div>
                                            </div>
                                            <div class="login__row" style="border-bottom:unset; margin-top:25px;">
                                                <button id="cmdUpdate" type="button" class="btn-save-apt" style="background:#00b7ce; color:white;padding-left:20px" onclick="changepass()">
                                                    CONFIRM <img id="submit_load_img" src="~/Content/ajax-loaders/ajax-loader-1.gif" style="visibility:hidden" />
                                                </button>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="request_form">
                                            <label class="message-info">
                                                Please enter your registered email salon and we'll send you a link to change your password.
                                            </label>
                                            <div class="login-content">
                                                <div class="login__row">
                                                    <input id="Login" class="login__input name" autocomplete="off" placeholder="EMAIL ADDRESS*">
                                                </div>
                                            </div>
                                            <div class="login__row" style="border-bottom:unset; margin-top:25px;">
                                                <button id="cmdUpdate" type="button" class="btn-save-apt" style="background:#00b7ce; color:white; padding-left:20px" onclick="forgot_pass()">
                                                    CONFIRM <img id="submit_load_img" src="~/Content/ajax-loaders/ajax-loader-1.gif" style="visibility:hidden" />
                                                </button>
                                            </div>
                                        </div>
                                    }
                                    <div class="col-md-12" style="font-size: 14px;text-align: justify" id="notify_success"></div>
                                </div>
                            </div>
                            <div class="row footer" style="margin-left: 0.5%;">
                                <p style="color: rgb(154, 154, 152);">
                                    ©2020 SIMPLY POWERED BY
                                    <img src="~/Areas/PaymentGate/Content/Images/logo.png" class="ui small image" style="margin-top: -5px;margin-left: 10px; display:inline-block">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Toastify"></div>
            </div>
        </div>
    </div>
</div>
<div class="error-template" style="display:none">
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span class="msg-view msg-error"></span>
    </div>
</div>
<div class="success-template" style="display:none">
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span class="msg-view msg-success"></span>
    </div>
</div>
<style type="text/css">
    .login__row > input {
        padding: 5px 0;
    }

        .login__row > input[type=password] {
            text-transform: initial !important;
        }

    .message-info {
        font-size: 1.17em;
        text-align: center;
        padding: 0 25px;
        font-weight: bold;
        margin-top: 20px;
    }
    .msg-view {
        font-weight: bold;
        font-size: 14px;
    }
</style>
@section scripts{
    <script>
    function changepass() {
        var LoginId = $("#Login").val();
        var new_pass = $("#new_password").val();
        if (new_pass.trim().length == 0) {
            warning("New password is required");
            $("#new_password").focus();
            return;
        }
        var confirm_pass = $("#confirm_password").val();
        if (confirm_pass.trim().length == 0) {
            warning("Confirm password is required");
            $("#confirm_password").focus();
            return;
        }
        $("#submit_load_img").css("visibility", "visible");
        $.ajax({
            method: "POST",
            url: "/salon/ResetPassWord",
            data: { LoginId, new_pass, confirm_pass },
        }).done(function (data) {
            if (data[0]) {
                $(".request_form").hide();
                let msg = "Your password has been reset successfully. <br/>";
                msg += "Please click <a href='https://pos.sposus.co'>here</a> to continue login!"
                enableMsg(msg, "success");
                let delayTime = 10;
                $("#notify_success").html(`System will automatically return to page <a href='https://pos.sposus.co'>login</a> after ${delayTime} seconds`);
                setInterval(() => {
                    if (delayTime <= 0) {
                        window.location.href = "https://pos.sposus.co";
                        return;
                    }
                    delayTime--;
                    let msg = `System will automatically return to page <a href='https://pos.sposus.co'>login</a> after ${delayTime} seconds`;
                    $("#notify_success").html(msg);
                }, 1000);
            } else {
                enableMsg(data[1]);
            }
        }).fail(function (err) {
            enableMsg(err.responseText);
        }).always(function () {
            $("#submit_load_img").css("visibility", "hidden");
        });
    }

    @* Forgot pass*@
    function forgot_pass() {
        var LoginId = $("#Login").val();
        if (LoginId.trim().length == 0) {
            warning("Login Id/EMAIL ADDRESS is required");
            $("#Login").focus();
            return;
        }
        $("#submit_load_img").css("visibility", "visible");
        $.ajax({
            method: "POST",
            url: "/salon/MailForgotPassWord",
            data: { LoginId },
        }).done(function (data) {
            if (data[0]) {
                $(".request_form").hide();
                enableMsg(data[1], "success").find(".close").remove();
            } else {
                enableMsg(data[1]);
            }
        }).fail(function (err) {
            enableMsg(err.responseText);
        }).always(function () {
            $("#submit_load_img").css("visibility", "hidden");
        });
    }
    $(".login__input").on("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            $("#cmdUpdate").trigger("click");
        }
    });

    function enableMsg(msg, type="error") {
        $(".pass-alert-warning").html($(`.${type}-template`).html());
        $(".pass-alert-warning").find(`.msg-${type}`).html(msg);
        return $(".pass-alert-warning");
    }
    </script>
}
