
@{
    ViewBag.Title = "err404";
    Layout = "~/Areas/Page/Views/Shared/_Questionare_Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">
<link href="~/Content/ErrorPage/style_ErrorPage.css" rel="stylesheet">

<div id="notfound">
    <div class="notfound" style="text-align:center">
        <div style="padding-left:0">
            <h2>404</h2>
            <h2 style="font-size:28px">Page not found</h2>
        </div>
        <hr />
        <p>Opp..., the page you requested was not found</p><hr />
        <p>Please contact: <b>+1-8000-7425-877</b></p>
    </div>
</div>

