@*<!-- Control Sidebar -->
       <aside class="control-sidebar control-sidebar-dark">
           <!-- Create the tabs -->
           <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
               <li class="active"><a href="#control-sidebar-theme-demo-options-tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-search"></i></a></li>
           </ul>
           <!-- Tab panes -->
           <div class="tab-content">
               <!-- Home tab content -->
               <div class="tab-pane active" id="control-sidebar-theme-demo-options-tab">
                   <form method="post" style="margin-bottom: 65px;">
                       <div class="control-sidebar-heading__wrapper">
                           <h3 class="control-sidebar-heading control-sidebar-heading--clickable">Trạng thái<i class="fa fa-chevron-circle-down"></i><i class="fa fa-chevron-circle-up"></i></h3>
                           <div class="form-group">
                               <label class="control-sidebar-subheading">
                                   Report panel usage
                                   <input type="checkbox" class="pull-right" checked="">
                               </label>
                               <p>
                                   Some information about this general settings option
                               </p>
                           </div>
                           <!-- /.form-group -->
                           <div class="form-group">
                               <label class="control-sidebar-subheading">
                                   Allow mail redirect
                                   <input type="checkbox" class="pull-right" checked="">
                               </label>
                               <p>
                                   Other sets of options are available
                               </p>
                           </div>
                           <!-- /.form-group -->
                           <div class="form-group">
                               <label class="control-sidebar-subheading">
                                   Expose author name in posts
                                   <input type="checkbox" class="pull-right" checked="">
                               </label>
                               <p>
                                   Allow the user to show his name in blog posts
                               </p>
                           </div>
                       </div>
                       <div class="control-sidebar-heading__wrapper">
                           <h3 class="control-sidebar-heading control-sidebar-heading--clickable">Trạng thái<i class="fa fa-chevron-circle-down"></i><i class="fa fa-chevron-circle-up"></i></h3>
                           <div class="form-group">
                               <label class="control-sidebar-subheading">
                                   Report panel usage
                                   <input type="checkbox" class="pull-right" checked="">
                               </label>
                               <p>
                                   Some information about this general settings option
                               </p>
                           </div>
                           <!-- /.form-group -->
                           <div class="form-group">
                               <label class="control-sidebar-subheading">
                                   Allow mail redirect
                                   <input type="checkbox" class="pull-right" checked="">
                               </label>
                               <p>
                                   Other sets of options are available
                               </p>
                           </div>
                           <!-- /.form-group -->
                           <div class="form-group">
                               <label class="control-sidebar-subheading">
                                   Expose author name in posts
                                   <input type="checkbox" class="pull-right" checked="">
                               </label>
                               <p>
                                   Allow the user to show his name in blog posts
                               </p>
                           </div>
                       </div>
                       <!-- /.form-group -->
                       <div class="control-sidebar-heading__wrapper">
                           <h3 class="control-sidebar-heading control-sidebar-heading--clickable">Chat Settings<i class="fa fa-chevron-circle-down"></i><i class="fa fa-chevron-circle-up"></i></h3>
                           <div class="input-daterange" id="datepicker">
                               <div style="width: 40%">
                                   <label class="control-sidebar-subheading">Từ ngày</label>
                                   <input type="text" class="date-picker-style input-small" id="datepicker-from" name="start" />
                               </div>
                               <div style="width: 40%">
                                   <label class="control-sidebar-subheading">Đến ngày</label>
                                   <input type="text" class="date-picker-style input-small" id="datepicker-to" name="end" />
                               </div>
                           </div>
                       </div>
                       <div class="button__wrapper-overlay"></div>
                       <div class="button__wrapper">
                           <button type="button" class="btn btn__tim-kiem" data-toggle="control-sidebar">Tìm kiếm</button>
                           <button type="button" class="btn btn__huy-bo" data-toggle="control-sidebar">Huỷ bỏ</button>
                       </div>
                       <!-- /.form-group -->
                   </form>
               </div>

           </div>
       </aside>
       <!-- /.control-sidebar -->
       <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
       <div class="control-sidebar-bg"></div>*@
